<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-GLhlTQ8iK26CkvaqNX5+9C2ZqOWl1/GpDzukfO5g53gxpANDA/JjLG2LbP2RSR" crossorigin="anonymous">
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container">
                    <a class="navbar-brand" routerLink="/gestion">ActiPro</a>
                    <!-- Botón de colapso eliminado -->
                    <div class="navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a routerLink="/hist-act" class="btn btn-light text-black mr-2" role="button">Historial Actividades</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary action-button" routerLink="/user" role="button">{{usuarios.nombre}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
        </div>
    </div>
</body>

</html>
